
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-CvV {
  box-sizing: border-box;
  padding-top: 4.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.desktop-1-CvV .auto-group-shku-nNu {
  margin-bottom: 9.2rem;
  width: 143.6323rem;
  height: 469.3rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-CvV .auto-group-shku-nNu .white-main-frame-1us {
  width: 139.8rem;
  height: 61.2rem;
  position: absolute;
  left: 0;
  top: 7.5rem;
  box-sizing: border-box;
  box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3100000024);
  background-color: #eeeeee;
  border-radius: 1.6rem;
}
.desktop-1-CvV .auto-group-shku-nNu .red-3bf {
  width: 68rem;
  height: 30.6rem;
  position: absolute;
  left: 71.8rem;
  top: 74.6rem;
  background-color: #ff4753;
  border-radius: 3rem;
}
.desktop-1-CvV .auto-group-shku-nNu .yellow-AwB {
  width: 31.6rem;
  height: 30.6rem;
  position: absolute;
  left: 34.9rem;
  top: 74.6rem;
  background-color: #fdc62e;
  border-radius: 3rem;
}
.desktop-1-CvV .auto-group-shku-nNu .black-JXb {
  width: 31.6rem;
  height: 30.6rem;
  position: absolute;
  left: 0;
  top: 74.6rem;
  background-color: #303030;
  border-radius: 3rem;
}
.desktop-1-CvV .auto-group-shku-nNu .off-white-r3K {
  width: 69.7rem;
  height: 30.6rem;
  position: absolute;
  left: 0;
  top: 111.1rem;
  background: linear-gradient(269.69deg, #edeef2 96.81%, #ececec 201.74%);
  border-radius: 3rem;
}
.desktop-1-CvV .auto-group-shku-nNu .green-keV {
  width: 31.6rem;
  height: 30.6rem;
  position: absolute;
  left: 72.3rem;
  top: 111.1rem;
  background-color: #2dcf71;
  border-radius: 3rem;
}
.desktop-1-CvV .auto-group-shku-nNu .blue-TJ1 {
  width: 31.6rem;
  height: 30.6rem;
  position: absolute;
  left: 108.2rem;
  top: 111.1rem;
  background-color: #178cfe;
  border-radius: 3rem;
}
.desktop-1-CvV .auto-group-shku-nNu .green-main-frrame-Nvm {
  width: 139.8rem;
  height: 39.7rem;
  position: absolute;
  left: 0;
  top: 350.7rem;
  background-color: #35d073;
  border-radius: 3rem;
}
.desktop-1-CvV .auto-group-shku-nNu .rectangle-2-7NZ {
  width: 29.1rem;
  height: 25.3rem;
  position: absolute;
  left: 110.7rem;
  top: 237.5rem;
  background-color: #d9d9d9;
}
.desktop-1-CvV .auto-group-shku-nNu .rectangle-3-rL9 {
  width: 29.1rem;
  height: 25.3rem;
  position: absolute;
  left: 73.5rem;
  top: 237.5rem;
  background-color: #d9d9d9;
}
.desktop-1-CvV .auto-group-shku-nNu .rectangle-4-aX3 {
  width: 29.1rem;
  height: 25.3rem;
  position: absolute;
  left: 36.8rem;
  top: 237.5rem;
  background-color: #d9d9d9;
}
.desktop-1-CvV .auto-group-shku-nNu .rectangle-5-ga5 {
  width: 29.1rem;
  height: 25.3rem;
  position: absolute;
  left: 0;
  top: 237.5rem;
  background-color: #d9d9d9;
}
.desktop-1-CvV .auto-group-shku-nNu .rectangle-6-ELh {
  width: 29.1rem;
  height: 25.3rem;
  position: absolute;
  left: 110.7rem;
  top: 280.9rem;
  background-color: #d9d9d9;
}
.desktop-1-CvV .auto-group-shku-nNu .rectangle-7-9yT {
  width: 29.1rem;
  height: 25.3rem;
  position: absolute;
  left: 73.5rem;
  top: 280.9rem;
  background-color: #d9d9d9;
}
.desktop-1-CvV .auto-group-shku-nNu .rectangle-8-rss {
  width: 29.1rem;
  height: 25.3rem;
  position: absolute;
  left: 36.2rem;
  top: 280.9rem;
  background-color: #d9d9d9;
}
.desktop-1-CvV .auto-group-shku-nNu .rectangle-9-Adf {
  width: 29.1rem;
  height: 25.3rem;
  position: absolute;
  left: 0;
  top: 280.9rem;
  background-color: #d9d9d9;
}
.desktop-1-CvV .auto-group-shku-nNu .desktop-wallpaper-50-earphones-headphone-boat-1-h7o {
  width: 31.6rem;
  height: 30.6rem;
  position: relative;
  left: 34.9rem;
  top: 74.6rem;
  background-size: 154.397% 100.059%;
  background-position: -14.7533rem -0.5211rem;
  background-image: url('../assets/desktop-wallpaper-50-earphones-headphone-boat-1.png');
  border-radius: 3rem;
}
.desktop-1-CvV .auto-group-shku-nNu .item-8521-1-hn1 {
  width: 44.7323rem;
  height: 45.0071rem;
  position: absolute;
  left: 98.9rem;
  top: 68rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-CvV .auto-group-shku-nNu .images-removebg-preview-1-RT7 {
  width: 39rem;
  height: 46.4rem;
  position: absolute;
  left: 30.9rem;
  top: 102.6rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-CvV .auto-group-shku-nNu .png-transparent-vr-virtual-reality-vr-goggles-simulation-woman-removebg-preview-1-Lpy {
  width: 34rem;
  height: 21.4rem;
  position: absolute;
  left: 73.5rem;
  top: 120.3rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-CvV .auto-group-shku-nNu .download-removebg-preview-1-qFw {
  width: 25.6rem;
  height: 19.5rem;
  position: absolute;
  left: 111.1rem;
  top: 120.3rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-CvV .auto-group-shku-nNu .png-transparent-laptop-personal-computer-laptops-electronics-photography-computer-thumbnail-removebg-preview-1-k81 {
  width: 25.4rem;
  height: 17.8rem;
  position: absolute;
  left: 112.6rem;
  top: 241.3rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-CvV .auto-group-shku-nNu .download-removebg-preview-1-1-DnH {
  width: 19.3rem;
  height: 18.7rem;
  position: absolute;
  left: 78.4rem;
  top: 284.2rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-CvV .auto-group-shku-nNu .htx0he-removebg-preview-1-9A9 {
  width: 25.6rem;
  height: 23.1rem;
  position: absolute;
  left: 1.7rem;
  top: 238.6rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-CvV .auto-group-shku-nNu .gratis-png-auriculares-inalambricos-rojos-thumbnail-removebg-preview-2-TRj {
  width: 19.3rem;
  height: 20.8rem;
  position: absolute;
  left: 41.7rem;
  top: 239.8rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-CvV .auto-group-shku-nNu .f88bf952bc742b0fae79a654c3784-removebg-preview-1-N2u {
  width: 20.8rem;
  height: 21.6rem;
  position: absolute;
  left: 77.7rem;
  top: 240.1rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-CvV .auto-group-shku-nNu .ypkoiabcl-2-Ubj {
  width: 19rem;
  height: 22rem;
  position: absolute;
  left: 4.2rem;
  top: 282.6rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-CvV .auto-group-shku-nNu .pngtree-airpods-3rd-generation-wireless-headphones-png-image8776920-removebg-preview-1-1bf {
  width: 21.6rem;
  height: 20.3rem;
  position: absolute;
  left: 39.9rem;
  top: 283.4rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-CvV .auto-group-shku-nNu .download-removebg-preview-3-1-K6Z {
  width: 22.8rem;
  height: 22.8rem;
  position: absolute;
  left: 113.9rem;
  top: 282.2rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-CvV .auto-group-shku-nNu .best-smartwatches-for-women1683877534798-1-EzD {
  width: 47.1rem;
  height: 26.5rem;
  position: absolute;
  left: 0;
  top: 425rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 3rem;
}
.desktop-1-CvV .auto-group-shku-nNu .images-1-1-N4q {
  width: 39.8224rem;
  height: 26.5rem;
  position: absolute;
  left: 50.7rem;
  top: 425rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 3rem;
}
.desktop-1-CvV .auto-group-shku-nNu .re4helg-1-hN1 {
  width: 47.1111rem;
  height: 26.5rem;
  position: absolute;
  left: 93.3rem;
  top: 425rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 3rem;
}
.desktop-1-CvV .auto-group-shku-nNu .px-boatlogo-1-Ecq {
  width: 9.5455rem;
  height: 5rem;
  position: absolute;
  left: 1.7rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-CvV .auto-group-shku-nNu .headphone-yKX {
  width: 118.7rem;
  height: 25.3rem;
  position: absolute;
  left: 11rem;
  top: 34.1rem;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.805;
  letter-spacing: 1.4rem;
  color: #ffffff;
  font-family: Angkor, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-CvV .auto-group-shku-nNu .gratis-png-auriculares-inalambricos-rojos-thumbnail-removebg-preview-1-465 {
  width: 49.2299rem;
  height: 47.0984rem;
  position: absolute;
  left: 60.6898rem;
  top: 4.1104rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-CvV .auto-group-shku-nNu .wireless-a4R {
  width: 23.6rem;
  height: 8.1rem;
  position: absolute;
  left: 11.2rem;
  top: 30.1rem;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-CvV .auto-group-shku-nNu .beats-solo-Gxq {
  width: 18.4rem;
  height: 5.1rem;
  position: absolute;
  left: 11.2rem;
  top: 24.3rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-CvV .auto-group-shku-nNu .group-2-zP3 {
  width: 19.9rem;
  height: 5.3rem;
  position: absolute;
  left: 89.4rem;
  top: 381.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.24rem;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 3rem;
}
.desktop-1-CvV .auto-group-shku-nNu .group-5-EHP {
  width: 19.9rem;
  height: 5.3rem;
  position: absolute;
  left: 118.4rem;
  top: 113rem;
  border-radius: 3rem;
}
.desktop-1-CvV .auto-group-shku-nNu .group-5-EHP .group-9-N8h {
  width: 100%;
  height: 100%;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.24rem;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 3rem;
}
.desktop-1-CvV .auto-group-shku-nNu .group-7-qY5 {
  width: 19.9rem;
  height: 5.3rem;
  position: absolute;
  left: 78.1rem;
  top: 113rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.24rem;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 3rem;
}
.desktop-1-CvV .auto-group-shku-nNu .group-4-iLy {
  width: 19.9rem;
  height: 5.3rem;
  position: absolute;
  left: 75.4rem;
  top: 97.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.24rem;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 3rem;
}
.desktop-1-CvV .auto-group-shku-nNu .group-8-Pi1 {
  width: 19.9rem;
  height: 5.3rem;
  position: absolute;
  left: 44.8rem;
  top: 76.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.24rem;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 3rem;
}
.desktop-1-CvV .auto-group-shku-nNu .group-3-gBK {
  width: 19.9rem;
  height: 5.3rem;
  position: absolute;
  left: 2.4rem;
  top: 97.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.24rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff0000;
  border-radius: 3rem;
}
.desktop-1-CvV .auto-group-shku-nNu .group-6-jvH {
  width: 19.9rem;
  height: 5.3rem;
  position: absolute;
  left: 2.5rem;
  top: 131rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.24rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff0000;
  border-radius: 3rem;
}
.desktop-1-CvV .auto-group-shku-nNu .group-1-cUH {
  width: 19.9rem;
  height: 5.3rem;
  position: absolute;
  left: 11rem;
  top: 54.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.24rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e83335;
  border-radius: 3rem;
}
.desktop-1-CvV .auto-group-shku-nNu .happy-HqK {
  width: 45.4rem;
  height: 17.4rem;
  position: absolute;
  left: 5.5rem;
  top: 353.5rem;
  font-size: 9.6rem;
  font-weight: 400;
  line-height: 1.805;
  letter-spacing: 0.96rem;
  color: #ffffff;
  font-family: Angkor, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-CvV .auto-group-shku-nNu .hours-zjj {
  width: 44.8rem;
  height: 17.4rem;
  position: absolute;
  left: 5.5rem;
  top: 363.3rem;
  font-size: 9.6rem;
  font-weight: 400;
  line-height: 1.805;
  letter-spacing: 0.96rem;
  color: #ffffff;
  font-family: Angkor, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-CvV .auto-group-shku-nNu .jqu3c9dql-1-urh {
  width: 41rem;
  height: 46.5rem;
  position: absolute;
  left: 47.1rem;
  top: 330.1rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-CvV .auto-group-shku-nNu .shop-cart-buy-return-pay-epH {
  width: 37.8rem;
  height: 3.1rem;
  position: absolute;
  left: 15.8rem;
  top: 1.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.24rem;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-CvV .auto-group-shku-nNu .headphone-8zM {
  width: 30.8rem;
  height: 5.9rem;
  position: absolute;
  left: 0.2rem;
  top: 90.4rem;
  font-size: 4.8rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-CvV .auto-group-shku-nNu .intel-deviceslaptops-3bX {
  width: 19rem;
  height: 14.6rem;
  position: absolute;
  left: 76.3rem;
  top: 81.1rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-CvV .auto-group-shku-nNu .intel-deviceslaptops-3bX .intel-deviceslaptops-3bX-sub-0 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #febb00;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-CvV .auto-group-shku-nNu .intel-deviceslaptops-3bX .intel-deviceslaptops-3bX-sub-1 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-CvV .auto-group-shku-nNu .intel-deviceslaptops-3bX .intel-deviceslaptops-3bX-sub-2 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-CvV .auto-group-shku-nNu .intel-deviceslaptops-3bX .intel-deviceslaptops-3bX-sub-3 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-CvV .auto-group-shku-nNu .intel-deviceslaptops-3bX .intel-deviceslaptops-3bX-sub-4 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #febb00;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-CvV .auto-group-shku-nNu .gaming-console-rjK {
  width: 23.1rem;
  height: 15.6rem;
  position: absolute;
  left: 2.3rem;
  top: 111.3rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-CvV .auto-group-shku-nNu .gaming-console-rjK .gaming-console-rjK-sub-0 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-CvV .auto-group-shku-nNu .gaming-console-rjK .gaming-console-rjK-sub-1 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-CvV .auto-group-shku-nNu .gaming-console-rjK .gaming-console-rjK-sub-2 {
}
.desktop-1-CvV .auto-group-shku-nNu .gaming-console-rjK .gaming-console-rjK-sub-3 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch {
  width: 139.8rem;
  height: 419.5rem;
  position: absolute;
  left: 0.2rem;
  top: 49.8rem;
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-jz5t-F9B {
  box-sizing: border-box;
  padding: 0rem 11.1rem 60.9rem 12.9rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-jz5t-F9B .our-newest-selection-of-bioactive-small-molecules-LwK {
  margin: 0rem 0rem 20.9rem 20.4rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #bfbfbf;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-jz5t-F9B .white-headphones-icon-isolated-with-long-shadow-vector-29444651-removebg-preview-1-1-eSD {
  width: 18.5rem;
  height: 16.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-yd1t-xC1 {
  margin-bottom: 7.9rem;
  width: 100%;
  height: 62.1rem;
  position: relative;
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-yd1t-xC1 .red-main-frrame-HVB {
  width: 139.8rem;
  height: 39.7rem;
  position: absolute;
  left: 0;
  top: 22.4rem;
  background-color: #f12b37;
  border-radius: 3rem;
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-yd1t-xC1 .fine-cnM {
  width: 30.9rem;
  height: 17.4rem;
  position: absolute;
  left: 5.5rem;
  top: 22.7rem;
  font-size: 9.6rem;
  font-weight: 400;
  line-height: 1.805;
  letter-spacing: 0.96rem;
  color: #ffffff;
  font-family: Angkor, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-yd1t-xC1 .smile-7z1 {
  width: 40.9rem;
  height: 17.4rem;
  position: absolute;
  left: 5.5rem;
  top: 33.4rem;
  font-size: 9.6rem;
  font-weight: 400;
  line-height: 1.805;
  letter-spacing: 0.96rem;
  color: #ffffff;
  font-family: Angkor, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-yd1t-xC1 .ypkoiabcl-1-SFb {
  width: 41.4rem;
  height: 48.8rem;
  position: absolute;
  left: 37.2rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-yd1t-xC1 .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-Nf3 {
  width: 49.4rem;
  height: 22.4rem;
  position: absolute;
  left: 84.4rem;
  top: 29.5rem;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2102272034;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-yd1t-xC1 .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-Nf3 .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-Nf3-sub-0 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-yd1t-xC1 .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-Nf3 .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-Nf3-sub-1 {
  font-size: 6.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-yd1t-xC1 .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-Nf3 .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-Nf3-sub-2 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .best-seller-products-our-newest-selection-nsB {
  margin-left: 1.5rem;
  max-width: 41.2rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .best-seller-products-our-newest-selection-nsB .best-seller-products-our-newest-selection-nsB-sub-0 {
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .best-seller-products-our-newest-selection-nsB .best-seller-products-our-newest-selection-nsB-sub-1 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .best-seller-products-our-newest-selection-nsB .best-seller-products-our-newest-selection-nsB-sub-2 {
  font-size: 4.8rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .best-seller-products-our-newest-selection-nsB .best-seller-products-our-newest-selection-nsB-sub-3 {
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .best-seller-products-our-newest-selection-nsB .best-seller-products-our-newest-selection-nsB-sub-4 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .best-seller-products-our-newest-selection-nsB .best-seller-products-our-newest-selection-nsB-sub-5 {
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-zsbw-zLy {
  box-sizing: border-box;
  padding-top: 29.9rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-zsbw-zLy .auto-group-fhlu-inm {
  margin: 0rem 18.6rem 38.6rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-zsbw-zLy .auto-group-fhlu-inm .smart-watch-rs-1299-TEZ {
  margin-right: 25.9rem;
  max-width: 10.7rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-zsbw-zLy .auto-group-fhlu-inm .smart-watch-rs-1299-gmX {
  margin-right: 26rem;
  max-width: 10.7rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-zsbw-zLy .auto-group-fhlu-inm .smart-watch-rs-1299-DWZ {
  margin-right: 26.5rem;
  max-width: 10.7rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-zsbw-zLy .auto-group-fhlu-inm .smart-watch-rs-1299-M6y {
  max-width: 10.7rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-zsbw-zLy .auto-group-yn7t-64Z {
  margin: 0rem 18.6rem 40.7rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-zsbw-zLy .auto-group-yn7t-64Z .smart-watch-rs-1299-1xD {
  margin: 0rem 25.3rem 1.6rem 0rem;
  max-width: 10.7rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-zsbw-zLy .auto-group-yn7t-64Z .smart-watch-rs-1299-XvZ {
  margin: 0rem 26.6rem 2rem 0rem;
  max-width: 10.7rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-zsbw-zLy .auto-group-yn7t-64Z .smart-watch-rs-1299-TJR {
  margin: 0rem 26.5rem 0.4rem 0rem;
  max-width: 10.7rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-zsbw-zLy .auto-group-yn7t-64Z .smart-watch-rs-1299-ma1 {
  margin-top: 2rem;
  max-width: 10.7rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-zsbw-zLy .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-JZw {
  margin: 0rem 1.2rem 25.8rem 0rem;
  max-width: 49.4rem;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2102272034;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-zsbw-zLy .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-JZw .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-JZw-sub-0 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-zsbw-zLy .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-JZw .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-JZw-sub-1 {
  font-size: 6.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-zsbw-zLy .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-JZw .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-JZw-sub-2 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-zsbw-zLy .auto-group-ds4d-X5K {
  margin: 0rem 14.8rem 38.5rem 15.6rem;
  width: calc(100% - 30.4rem);
  height: 11.6rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-zsbw-zLy .auto-group-ds4d-X5K .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-3ZT {
  width: 109.4rem;
  height: 3.9rem;
  position: absolute;
  left: 0;
  top: 7.7rem;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-zsbw-zLy .auto-group-ds4d-X5K .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-3ZT .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-3ZT-sub-0 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-zsbw-zLy .auto-group-ds4d-X5K .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-3ZT .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-3ZT-sub-1 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-zsbw-zLy .auto-group-ds4d-X5K .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-3ZT .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-3ZT-sub-2 {
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-zsbw-zLy .auto-group-ds4d-X5K .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-3ZT .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-3ZT-sub-3 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-zsbw-zLy .auto-group-ds4d-X5K .recent-news-Avu {
  width: 41.1rem;
  height: 7.8rem;
  position: absolute;
  left: 33.7rem;
  top: 0;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-zsbw-zLy .auto-group-sbku-t6D {
  margin-right: 6.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-zsbw-zLy .auto-group-sbku-t6D .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-dJh {
  margin-right: 9.7rem;
  max-width: 39.5rem;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.2102272511;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-zsbw-zLy .auto-group-sbku-t6D .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-dJh .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-dJh-sub-0 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-zsbw-zLy .auto-group-sbku-t6D .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-dJh .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-dJh-sub-1 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-zsbw-zLy .auto-group-sbku-t6D .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-dJh .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-dJh-sub-2 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-zsbw-zLy .auto-group-sbku-t6D .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-oku {
  margin-right: 4.7rem;
  max-width: 39.5rem;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.2102272511;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-zsbw-zLy .auto-group-sbku-t6D .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-oku .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-oku-sub-0 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-zsbw-zLy .auto-group-sbku-t6D .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-oku .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-oku-sub-1 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-zsbw-zLy .auto-group-sbku-t6D .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-oku .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-oku-sub-2 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-zsbw-zLy .auto-group-sbku-t6D .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-yhK {
  max-width: 39.5rem;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.2102272511;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-zsbw-zLy .auto-group-sbku-t6D .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-yhK .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-yhK-sub-0 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-zsbw-zLy .auto-group-sbku-t6D .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-yhK .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-yhK-sub-1 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-CvV .auto-group-shku-nNu .group-11-vch .auto-group-zsbw-zLy .auto-group-sbku-t6D .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-yhK .off-summer-sale-our-newest-selection-of-bioactive-small-molecules-yhK-sub-2 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-CvV .auto-group-2yzu-o45 {
  box-sizing: border-box;
  padding: 10.9rem 5.471rem 11.228rem 4rem;
  width: 100%;
  height: 32.3rem;
  background: linear-gradient(89.84deg, #e2e2e2 0.19%, rgba(172, 172, 172, 0) 99.93%);
  flex-shrink: 0;
}
.desktop-1-CvV .auto-group-2yzu-o45 .group-10-iRw {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.desktop-1-CvV .auto-group-2yzu-o45 .group-10-iRw .verified-1-Fgm {
  margin: 0.017rem 0.606rem 0rem 0rem;
  width: 8.9834rem;
  height: 9.3175rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-CvV .auto-group-2yzu-o45 .group-10-iRw .verified-mf7 {
  margin: 0rem 10.023rem 2.469rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-CvV .auto-group-2yzu-o45 .group-10-iRw .shipping-icon-0-1-HtM {
  margin: 0rem 2.781rem 0.482rem 0rem;
  width: 9.5338rem;
  height: 9.6902rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-CvV .auto-group-2yzu-o45 .group-10-iRw .free-shipping-1JZ {
  margin: 1.849rem 13.17rem 0rem 0rem;
  max-width: 15.9rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-CvV .auto-group-2yzu-o45 .group-10-iRw .payment-1-XGu {
  margin: 0.017rem 1.918rem 0rem 0rem;
  width: 8.9834rem;
  height: 9.3175rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-CvV .auto-group-2yzu-o45 .group-10-iRw .easy-payment-qHb {
  margin: 1.431rem 11.547rem 0rem 0rem;
  max-width: 15.1rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-CvV .auto-group-2yzu-o45 .group-10-iRw .ypkoiabcl-3-9p5 {
  margin: 0.854rem 1.461rem 0rem 0rem;
  width: 7.6231rem;
  height: 9.3175rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-CvV .auto-group-2yzu-o45 .group-10-iRw .return-policy-5hj {
  margin-top: 1.8493rem;
  max-width: 12.9rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
